---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';

type Language = 'fr' | 'it' | 'en';

interface BlogEntry {
  slug: string;
  data: {
    title: string;
    date: Date;
    author: string;
    thumbnail: string;
    readTime: string;
    categories: string[];
    highlights?: string[];
    summary?: string; // Ajout de la propriété summary ici si nécessaire
  };
  render: () => Promise<{ Content: any }>;
}

const lang: Language = 'fr'; // Changez cette valeur pour 'it', 'en', etc.
const blogEntries = await getCollection(`blog_${lang}`);
---

<BaseLayout title={`Blog en Français`}>
  <!-- Liste des articles de blog -->
  <main class="container mx-auto px-4 py-12">
    <h2 class="text-4xl font-bold mb-8 text-dark-gray">
      Articles en Français
    </h2>
    <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      {blogEntries?.length > 0 ? (
        blogEntries.map((entry) => (
          <li class="bg-white shadow-lg rounded-lg overflow-hidden">
            <a href={`/${lang}/blog/${entry.slug}`} class="block hover:shadow-xl transition-shadow duration-300">
              <img src={entry.data.thumbnail} alt={entry.data.title} class="w-full h-48 object-cover" />
              <div class="p-6">
                <h3 class="text-2xl font-semibold text-dark-gray">{entry.data.title}</h3>
                <time class="block text-gray-600 mt-2">
                  {new Date(entry.data.date).toLocaleDateString(lang, {
                    year: 'numeric',
                    month: 'long',
                    day: 'numeric',
                  })}
                </time>
                <p class="mt-4 text-dark-gray">
                  {'Un aperçu captivant de cet article.'}
                </p>
              </div>
            </a>
          </li>
        ))
      ) : (
        <p class="text-gray-700">Aucun article trouvé.</p>
      )}
    </ul>
  </main>
</BaseLayout>