---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro';
import CTA from '../components/CTA.astro';
import texts from './fr/home.json';
import articlesData from './fr/articles.json';
---

<BaseLayout>
<!-- Hero Section -->
<section class="pb-10  bg-beige">
  <div class="container mx-auto px-4 flex flex-col md:flex-row items-center justify-between">
    <div class="md:w-1/2 text-left mb-8 md:mb-0">
      <h1 class="text-6xl font-light mb-4 text-black">{texts.hero.title}</h1>
      <h2 class="text-3xl mb-6 text-accent font-light">{texts.hero.subtitle}</h2>
      <p class="mb-8 text-lg text-dark-gray max-w-xl font-light leading-relaxed">{texts.hero.description}</p>
      <button onclick="Calendly.initPopupWidget({url: 'https://calendly.com/decarbonaction/meeting'})" class="bg-transparent text-black border border-black px-6 py-3 rounded-sm hover:bg-black hover:text-white transition duration-300 uppercase text-base font-light">{texts.hero.cta}</button>
      <div class="mt-12">
        <a href="#expertise" class="text-black hover:text-accent text-sm uppercase font-light transition duration-300">scroll ↓</a>
      </div>
    </div>
    <div class="md:w-1/2 flex justify-end">
      <img src="hero_image_wbg.svg" alt="Christine Rizzo" class="w-full max-w-lg">
    </div>
  </div>
</section>

<!-- Expertise Section -->
<section id="expertise" class="py-20 bg-light-gray">
  <div class="container mx-auto px-4">
    <h2 class="text-3xl font-light mb-8 text-center text-black">{texts.expertise.title}</h2>
    <p class="text-center mb-12 max-w-3xl mx-auto text-dark-gray font-light leading-relaxed">{texts.expertise.description}</p>
    <div class="flex flex-col md:flex-row justify-center space-y-8 md:space-y-0 md:space-x-12">
      <div class="bg-beige p-8 rounded-sm flex-1 max-w-md">
        <div class="h-48 mb-4 relative">
          <img src="https://images.pexels.com/photos/4195397/pexels-photo-4195397.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Travailleurs" class="absolute inset-0 w-full h-full object-cover object-top">
        </div>
        <h3 class="text-xl font-light mb-4 text-black">{texts.travailleurs.title}</h3>
        <p class="mb-4 text-dark-gray font-light leading-relaxed">{texts.travailleurs.description}</p>
        <a href="/travailleurs" class="inline-block bg-accent text-black px-4 py-2 rounded-sm hover:bg-black hover:text-accent transition duration-300 text-sm uppercase font-light">{texts.travailleurs.cta}</a>
      </div>
      <div class="bg-beige p-8 rounded-sm flex-1 max-w-md">
        <div class="h-48 mb-4 relative">
          <img src="https://images.pexels.com/photos/7688453/pexels-photo-7688453.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Employeurs" class="absolute inset-0 w-full h-full object-cover object-top">
        </div>
        <h3 class="text-xl font-light mb-4 text-black">{texts.employeurs.title}</h3>
        <p class="mb-4 text-dark-gray font-light leading-relaxed">{texts.employeurs.description}</p>
        <a href="/employeurs" class="inline-block bg-light-green text-black px-4 py-2 rounded-sm hover:bg-black hover:text-light-green transition duration-300 text-sm uppercase font-light">{texts.employeurs.cta}</a>
      </div>
    </div>
  </div>
</section>

<!-- Profil Section -->
<section id="profil" class="py-20 bg-white">
  <div class="container mx-auto px-4">
    <h2 class="text-3xl font-light mb-12 text-center text-black">{texts.profil.title}</h2>
    <div class="max-w-4xl mx-auto">
      <div class="flex flex-col md:flex-row items-center md:items-start gap-8">
        <img src="/chrizzo-pp.avif" alt="Christine Rizzo" class="w-full md:w-1/2 h-auto object-cover rounded-sm">
        <div class="md:w-1/2">
          <p class="text-dark-gray font-light leading-relaxed mb-6">{texts.profil.description}</p>
           <a href="/profil" class="bg-transparent text-black border border-black px-6 py-3 rounded-sm hover:bg-black hover:text-white transition duration-300 uppercase text-sm font-light"> En savoir plus →</a>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Honoraires Section -->
<section id="honoraires" class="py-12 md:py-20 bg-light-gray">
  <div class="container mx-auto px-4">
    <h2 class="text-2xl md:text-3xl font-light mb-8 md:mb-12 text-center text-black">{texts.honoraires.title}</h2>
    <ul class="honoraires-list text-left md:text-center mb-8 md:mb-12 space-y-4 max-w-xl mx-auto">
      {texts.honoraires.list.map((item) => (
        <li class="text-black font-light flex items-center md:justify-center">
          <i class="text-dark-green mr-3 flex-shrink-0" data-feather="check-circle"></i>
          <span>{item}</span>
        </li>
      ))}
    </ul>
    <div class="text-center">
      <a href="#" class="inline-block bg-transparent text-black border border-black px-4 md:px-6 py-2 md:py-3 rounded-sm hover:bg-black hover:text-white transition duration-300 uppercase text-sm font-light">
        {texts.honoraires.cta}
      </a>
    </div>
  </div>
</section>
  <CTA />

<!-- Articles Section -->
<section id="articles" class="py-20 bg-beige">
  <div class="container mx-auto px-4">
    <h2 class="text-3xl font-light mb-12 text-center text-black">{texts.articlesTitle}</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      {articlesData.articles.map((article) => (
        <div class="bg-white rounded-sm overflow-hidden shadow-lg transition duration-300 hover:shadow-xl">
          <img src={article.image} alt={article.title} class="w-full h-48 object-cover">
          <div class="p-6">
            <h3 class="text-2xl font-light mb-2 text-black">{article.title}</h3>
            <p class="text-black mb-6 font-light leading-relaxed">{article.description}</p>
            <div class="relative">
              <a href="/nouveautes-droit-travail" class="inline-block text-black uppercase text-sm font-light hover:text-dark-green transition duration-300">
                <span class="border-b border-black pb-1">LIRE LA SUITE</span> →
              </a>
            </div>
          </div>
        </div>
      ))}
    </div>
  </div>
</section>

  <!-- Intégration Calendly -->
  <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
  <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script>
  <script>
    document.addEventListener('astro:page-load', () => {
      Calendly.initBadgeWidget({ 
        url: 'https://calendly.com/decarbonaction/meeting', 
        text: 'Planifier du temps avec moi', 
        color: '#0069ff', 
        textColor: '#ffffff', 
        branding: undefined 
      });
    });
  </script>

</BaseLayout>