---
interface Props {
  lang: string;
}

const { lang } = Astro.props;

import { Calendar, Phone, MessageCircle, Mail } from 'astro-feather-icons';

export async function getStaticPaths() {
  return ['fr', 'en', 'it'].map(lang => ({ params: { lang } }));
}

const translations = {
  fr: {
    title: "Une question en droit du travail?",
    subtitle: "Contactez-moi. Je suis à votre écoute.",
    takeAppointment: "Prendre RDV",
    call: "Appeler",
    whatsapp: "WhatsApp",
    email: "Email",
    scheduleTime: "Planifier du temps avec moi"
  },
  en: {
    title: "Do you have a question about labor law?",
    subtitle: "Contact me. I'm here to listen.",
    takeAppointment: "Schedule Appointment",
    call: "Call",
    whatsapp: "WhatsApp",
    email: "Email",
    scheduleTime: "Schedule time with me"
  },
  it: {
    title: "Hai una domanda sul diritto del lavoro?",
    subtitle: "Contattami. Sono qui per ascoltarti.",
    takeAppointment: "Prendere Appuntamento",
    call: "Chiamare",
    whatsapp: "WhatsApp",
    email: "Email",
    scheduleTime: "Programma un appuntamento con me"
  }
};

const validLangs = ['fr', 'en', 'it'] as const;
type ValidLang = typeof validLangs[number];

const currentLang = validLangs.includes(lang as ValidLang) ? lang as ValidLang : 'fr';
const t = translations[currentLang];
---

<section id="contact" class="bg-white border border-gray-500 text-black py-16 px-8 my-16 text-center">
  <h2 class="text-4xl mb-4 font-light">{t.title}</h2>
  <div class="h-60 mb-4 relative max-w-full">
    <img src="/illustration-cta.svg" alt="illustration cta" class="w-full h-full object-contain">
  </div>
  <p class="mb-8 text-xl font-light">{t.subtitle}</p>
  <div class="flex flex-wrap justify-center gap-4">
    <button data-calendly class="bg-transparent text-black border border-black px-6 py-3 rounded-sm hover:bg-black hover:text-white transition duration-300 uppercase text-sm font-light flex items-center">
      <Calendar class="w-4 h-4 mr-2" /> {t.takeAppointment}
    </button>
    <button class="bg-transparent text-black border border-black px-6 py-3 rounded-sm hover:bg-black hover:text-white transition duration-300 uppercase text-sm font-light flex items-center">
      <Phone class="w-4 h-4 mr-2" /> {t.call}
    </button>
    <button class="bg-transparent text-black border border-black px-6 py-3 rounded-sm hover:bg-black hover:text-white transition duration-300 uppercase text-sm font-light flex items-center">
      <MessageCircle class="w-4 h-4 mr-2" /> {t.whatsapp}
    </button>
    <button class="bg-transparent text-black border border-black px-6 py-3 rounded-sm hover:bg-black hover:text-white transition duration-300 uppercase text-sm font-light flex items-center">
      <Mail class="w-4 h-4 mr-2" /> {t.email}
    </button>
  </div>
</section>