---
import { Image } from 'astro:assets';
import { Phone, Mail, MapPin, ChevronDown } from 'astro-feather-icons2';
import logoImage from '../assets/images/logo_crizzo_calli3.svg';
import logoPwablo from '../assets/images/logo_pwablo.svg';
import LanguagePicker from '../components/LanguagePicker.astro';

const { pathname } = Astro.url;
const currentLang = pathname.split('/')[1] || 'fr';

const translations = {
  fr: {
    copyright: "© 2024 Christine Rizzo",
    expertise: "Expertise",
    profil: "Profil",
    honoraires: "Honoraires",
    articles: "Articles",
    contact: "Contact",
    legalNotice: "Mentions légales",
    privacyPolicy: "Politique de confidentialité",
    design: "Design by Pwablo",
    ecoDesign: "Score d'éco-conception",
    ecoDesignPwablo: "Site web écologique",
    menu: "Menu"
  },
  en: {
    copyright: "© 2024 Christine Rizzo",
    expertise: "Expertise",
    profil: "Profile",
    honoraires: "Fees",
    articles: "Articles",
    contact: "Contact",
    legalNotice: "Legal Notice",
    privacyPolicy: "Privacy Policy",
    design: "Design by Pwablo",
    ecoDesign: "Eco-design Score",
    ecoDesignPwablo: "Eco-friendly Website",
    menu: "Menu"
  },
  it: {
    copyright: "© 2024 Christine Rizzo",
    expertise: "Esperienza",
    profil: "Profilo",
    honoraires: "Onorari",
    articles: "Articoli",
    contact: "Contatto",
    legalNotice: "Note legali",
    privacyPolicy: "Politica sulla riservatezza",
    design: "Design di Pwablo",
    ecoDesign: "Punteggio di eco-design",
    ecoDesignPwablo: "Sito web ecologico",
    menu: "Menu"
  }
};

const t = translations[currentLang as keyof typeof translations] || translations.fr;

const isHomePage = pathname === `/${currentLang}` || pathname === `/${currentLang}/`;

const mainLinks = [
  { href: isHomePage ? "#expertise" : `/${currentLang}#expertise`, label: t.expertise.toUpperCase() },
  { href: isHomePage ? "#profil" : `/${currentLang}#profil`, label: t.profil.toUpperCase() },
  { href: isHomePage ? "#honoraires" : `/${currentLang}#honoraires`, label: t.honoraires.toUpperCase() },
  { href: isHomePage ? "#articles" : `/${currentLang}#articles`, label: t.articles.toUpperCase() },
  { href: isHomePage ? "#contact" : `/${currentLang}#contact`, label: t.contact.toUpperCase() },
];

const legalLinks = [
  { href: `/${currentLang}/legal`, label: t.legalNotice },
  { href: `/${currentLang}/privacy`, label: t.privacyPolicy }
];

---

<footer class="bg-beige text-dark-gray py-4 md:py-8">
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap justify-between items-start">
      <div class="w-full md:w-1/3 mb-4 md:mb-0 pr-8 flex justify-center md:justify-start items-center md:items-start md:self-start">
        <Image src={logoImage} alt="Christine Rizzo Logo" class="h-48 md:h-96 w-auto mt-0 md:mt-[-4rem]" />
      </div>
      
      <div class="w-full md:w-1/5 mt-8 xs:mt-0 mb-8  md:mb-0">
        <h3 class="font-medium mb-4 text-lg hidden md:block">{t.menu}</h3>
        <ul class="space-y-2 hidden md:block">
          {mainLinks.map(link => (
            <li><a href={link.href} class="text-sm hover:underline transition-colors duration-300 hover:text-travailleur">{link.label}</a></li>
          ))}
        </ul>
        <details class="md:hidden">
          <summary class="font-medium mb-4 text-lg flex justify-between items-center cursor-pointer text-center">
            <span class="w-full">{t.menu}</span>
            <ChevronDown class="w-5 h-5 absolute right-0" />
          </summary>
          <ul class="space-y-2 mt-2 text-center">
            {mainLinks.map(link => (
              <li><a href={link.href} class="text-sm hover:underline">{link.label}</a></li>
            ))}
          </ul>
        </details>
      </div>
      
      <div class="w-full md:w-1/5 mb-8 mt-8 xs:mt-0 md:mb-0">
        <h3 class="font-medium mb-4 text-lg hidden md:block">{t.contact}</h3>
        <div class="hidden md:block">
          <p class="text-sm flex items-center mb-2"><Phone class="w-4 h-4 mr-2" /> +32 488 40 45 49</p>
          <p class="text-sm flex items-center mb-2"><Mail class="w-4 h-4 mr-2" /> c.rizzo@avocat.be</p>
          <p class="text-sm flex items-start">
            <MapPin class="w-4 h-4 mr-2 mt-1" /> 
            <span>
              Chaussée de Waterloo 1151,<br/>
              1180 Bruxelles
            </span>
          </p>
        </div>
        <details class="md:hidden">
          <summary class="font-medium mb-4 text-lg flex justify-between items-center cursor-pointer text-center">
            <span class="w-full">{t.contact}</span>
            <ChevronDown class="w-5 h-5 absolute right-0" />
          </summary>
          <div class="mt-2 text-center">
            <p class="text-sm mb-2">+32 488 40 45 49</p>
            <p class="text-sm mb-2">c.rizzo@avocat.be</p>
            <p class="text-sm">
              Chaussée de Waterloo 1151,<br/>
              1180 Bruxelles
            </p>
          </div>
        </details>
      </div>
      
      <div class="w-full md:w-1/5 mb-8 mt-8 xs:mt-0 md:mb-0">
        <h3 class="font-medium mb-4 text-lg hidden md:block">{t.ecoDesignPwablo}</h3>
        <div class="hidden md:block">
          <a href="https://www.ecoindex.fr/resultat/?id=19de93fb-067c-4682-a25e-e37636dd5e6d" class="text-sm hover:underline mb-2 block">{t.ecoDesign}</a>
          <a href="https://pwablo.be" class="hover:underline flex flex-col items-start">
            <span class="text-sm mb-2">{t.design}</span>
            <Image src={logoPwablo} alt="Pwablo Logo" class="h-16 w-auto bg-white p-2" />
          </a>
        </div>
        <details class="md:hidden">
          <summary class="font-medium mb-4 text-lg flex justify-between items-center cursor-pointer text-center">
            <span class="w-full">{t.ecoDesignPwablo}</span>
            <ChevronDown class="w-5 h-5 absolute right-0" />
          </summary>
          <div class="mt-2 text-center">
            <a href="https://www.ecoindex.fr/resultat/?id=19de93fb-067c-4682-a25e-e37636dd5e6d" class="text-sm hover:underline mb-2 block">{t.ecoDesign}</a>
            <a href="https://pwablo.be" class="hover:underline flex flex-col items-center">
              <span class="text-sm mb-2">{t.design}</span>
              <Image src={logoPwablo} alt="Pwablo Logo" class="h-12 w-auto bg-white p-2" />
            </a>
          </div>
        </details>
      </div>
    </div>
    
    <div class="mt-4 pt-4 border-t border-gray-300 text-center">
      <p class="text-sm mb-4">{t.copyright}</p>
      <p class="text-xs">
        <a href={legalLinks[0].href} class="hover:underline">{legalLinks[0].label}</a>
        <span class="mx-2">|</span>
        <a href={legalLinks[1].href} class="hover:underline">{legalLinks[1].label}</a>
      </p>
    </div>
  </div>
</footer>

<style>
  @media (max-width: 768px) {
    details summary::-webkit-details-marker {
      display: none;
    }
    details[open] summary .w-5 {
      transform: rotate(180deg);
    }
    details > summary {
      list-style: none;
      position: relative;
    }
    details > summary::-webkit-details-marker {
      display: none;
    }
  }
</style>
