---
// src/components/Footer.astro
import { Image } from 'astro:assets';
import logoImage from '../assets/images/logo_crizzo_calli3.svg';

const supportedLanguages = ['fr', 'en', 'it'] as const;
type SupportedLanguage = typeof supportedLanguages[number];

export interface Props {
  currentLang: SupportedLanguage;
}

const { currentLang } = Astro.props as Props;

const translations = {
  fr: {
    copyright: "© 2023 Christine Rizzo. Tous droits réservés.",
    expertise: "Expertise",
    profil: "Profil",
    honoraires: "Honoraires",
    articles: "Articles",
    contact: "Contact",
    legalNotice: "Mentions légales",
    privacyPolicy: "Politique de confidentialité",
    design: "Design by Pwablo",
    ecoDesign: "Eco-conception",
    credits: "Crédits"
  },
  en: {
    copyright: "© 2023 Christine Rizzo. All rights reserved.",
    expertise: "Expertise",
    profil: "Profile",
    honoraires: "Fees",
    articles: "Articles",
    contact: "Contact",
    legalNotice: "Legal Notice",
    privacyPolicy: "Privacy Policy",
    design: "Design by Pwablo",
    ecoDesign: "Eco-design",
    credits: "Credits"
  },
  it: {
    copyright: "© 2023 Christine Rizzo. Tutti i diritti riservati.",
    expertise: "Competenza",
    profil: "Profilo",
    honoraires: "Onorari",
    articles: "Articoli",
    contact: "Contatto",
    legalNotice: "Note legali",
    privacyPolicy: "Politica sulla privacy",
    design: "Design di Pwablo",
    ecoDesign: "Eco-design",
    credits: "Crediti"
  }
};

const t = translations[currentLang as keyof typeof translations] || translations.fr;

const isHomePage = Astro.url.pathname === `/${currentLang}` || Astro.url.pathname === `/${currentLang}/`;

const mainLinks = [
  { href: isHomePage ? "#expertise" : `/${currentLang}#expertise`, label: t.expertise },
  { href: isHomePage ? "#profil" : `/${currentLang}#profil`, label: t.profil },
  { href: isHomePage ? "#honoraires" : `/${currentLang}#honoraires`, label: t.honoraires },
  { href: isHomePage ? "#articles" : `/${currentLang}#articles`, label: t.articles },
  { href: isHomePage ? "#contact" : `/${currentLang}#contact`, label: t.contact },
];

const secondaryLinks = [
  { href: "#", label: t.legalNotice },
  { href: "#", label: t.privacyPolicy },
  { href: "#", label: t.design },
  { href: "#", label: t.ecoDesign },
  { href: "/credits", label: t.credits } // Ajout du lien vers la page des crédits
];
---
 <div class="full-bleed bg-light-gray">
<footer class="bg-light-gray text-dark-gray py-8">
  <div class="container mx-auto px-4 text-center">
    <div class="flex flex-col items-center">
      <p class="text-sm mb-4 text-dark-gray">{t.copyright}</p>
      <div class="logo text-center mb-6">
        <Image src={logoImage} alt="Christine Rizzo Logo" class="h-24 md:h-48 w-auto" />
      </div>
      <nav class="flex flex-wrap justify-center mb-6">
        {mainLinks.map(link => (
          <a href={link.href} class="text-black hover:underline transition duration-300 px-3 py-2">{link.label}</a>
        ))}
      </nav>
      <nav class="flex flex-wrap justify-center">
        {secondaryLinks.map(link => (
          <a href={link.href} class="text-dark-gray hover:underline transition duration-300 px-3 py-2">{link.label}</a>
        ))}
      </nav>
    </div>
  </div>
</footer>
</div>